<div class="row">
  <div class="col-sm-offset-1 col-sm-3" style="font-size: large; font-weight: bold;">
    Room list
  </div>
  <% @rooms.each do |room| %>
    <%= link_to room_path(room) do %>
      <div class="well col-xs-12 col-sm-offset-1 col-sm-10">
        <% room.number ||= -1 %>
        <% if current_user.owner_room_id == room.id %>
          <%= link_to "Delete", room, method: :delete, data: {confirm: "Delete this room \##{room.id}?"}, class: 'btn btn-danger btn-xs btn-raised' %>
        <% end %>
        <%= room.id %>&nbsp;&gt;&nbsp;<%= room.comment %>&nbsp;&gt;&nbsp;number:&nbsp;<%= room.number %>
      </div>
    <% end %>
  <% end %>
</div>